@CHARSET "UTF-8";

body {
	margin:0;
	border:0;
}

.wraper {
	/*background:url("../img/x1.png");
	background-size: contain;*/
	margin:0 auto;
	z-index:1;
}

.top-bg {
	width: 10rem;
	height: 1.866667rem;
	background: url('../img/top_bg.jpg');
	background-size: 10rem 1.866667rem;
}

.top {
	width: 10rem;
	height: 1.53rem;
	line-height: 1.53rem;
	margin-top: .4rem;
	text-align: center;
	font-size: 0.46rem;
	color: #333;
}

.mid {
	height:12rem;
	width:10rem;
	color:#333;
}

.album {
	position: relative;
	margin: 0 auto;
	width: 6.13rem;
	height: 6.13rem;
	background: url("../img/album-bg.jpg");
	background-size: contain;
	box-shadow: 5px 5px 5px #ccc; 
}

.play-btn {
	position: absolute;
	width: 1.12rem;
	height: 1.12rem;
	left: 50%;
	top: 50%;
	margin-left: -0.56rem;
	margin-top: -0.56rem;
}

.btn-img {
	width: 1.12rem;
	height: 1.12rem;
}

.album-info {
	width: 10rem;
	height: 2rem;
	text-align: center;
	line-height: 2rem;
	font-size: 0.33rem;
	color: #333;
}

.free-box {
	width: 8.4rem;
	height: 1.6rem;
	/* display: flex;
	justify-content: space-around; */
	padding-left: .8rem;
	padding-right: .8rem;
}

.free-test {
	width: 3.5rem;
	height: 0.67rem;
	line-height: 0.67rem;
	color: #999;
	font-size: 0.33rem;
	text-align: center;
	border: 1px solid #999;
	border-radius: 15px;
	text-decoration: none;
	float: left;
}

a:hover {
	text-decoration: none;
}

.to-buy {
	width: 3.5rem;
	height: 0.67rem;
	line-height: 0.67rem;
	color: #ff6600;
	font-size: 0.33rem;
	text-align: center;
	border: 1px solid #ff6600;
	border-radius: 15px;
	float: left;
	margin-left: 1.2rem;
}

.active-content {
	/* display: flex;
	justify-content: center;
	align-items: center; */
	/* width: 10rem; */
	width: 2.4rem;
	height: 0.4rem;
	margin: 0 auto;
}

.cross-line {
	width: 0.4rem;
	height: 1px;
	background: #999;
	margin-top: 0.2rem;
	float: left;
}

.introduct-title {
	text-align: center;
	width: 1.6rem;
	height: 0.4rem;
	line-height: 0.4rem;
	color: #999;
	float: left;
	font-size: 0.3rem;
}

.introduct-text {
	margin: 0 auto;
	width: 7.6rem;
	height: 1.6rem;
	margin-top: 0.5rem;
	font-size: .3rem;
	color: #999;
	text-align: left;
}

.bottom {
	width: 9.466667rem;
	height: 1.8rem;
	padding: .6rem .266667rem 0;
	border-bottom: 1px solid #ccc;
	/* display: flex;
	justify-content: space-between;
	align-items: center; */
}

.ting-logo {
	width: 1.266667rem;
	height: 1.266667rem;
	float: left;
	display: inline-block;
}

.ting-content {
	/* margin-left: -.8rem; */
	color: #666;
	float: left;
	margin-top: .2rem;
	margin-left: .2rem;
}

.ting-name {
	font-size: .373333rem;
}

.ting-introduct {	
	margin-top: .133333rem;
	font-size: .293333rem;
}

.download {
	width: 1.466667rem;
	height: .666667rem;
	text-align: center;
	line-height: .666667rem;
	color: #fff;
	background: #0099cc;
	border-radius: .133333rem;
	float: right;
	margin-top: .3rem;
	margin-left: .2rem;
}

/*IPAD、PC等大屏幕适配*/
@media only screen and (min-width: 750px){
body{
	/* background:url("../img/bg0.png") repeat-x; */
}
.wraper {
	/* border: 1px solid #43444e; */
    width: 10rem;
    /* box-shadow: 1px 0px 3px; */
}
}


@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
    /*iphone 6 plus*/
body {
	margin:0;
	border:0;
}
.wraper {
	/*background:url("../img/x1.png");
	background-size: contain;*/
	margin:0 auto;
	z-index:1;
	width:10rem;	
}
}